<!DOCTYPE html>
<html>
  <head>
    <title>My first Chartist Tests</title>
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/chartist.min.css')}}">
  </head>
  <body>
    <!-- Site content goes here !-->
    <div class="ct-chart ct-perfect-fourth"></div>
    <script src="{{url_for('static', filename='js/chartist.min.js')}}"></script>

    <script type="text/javascript">
    
            new Chartist.Line('.ct-chart', {
                series: [
        {% for key, value in users.items() %}
            [
            {% for val in value %}
                {x: {{val['time']}}, y: {{val['online']}}},
            {% endfor %}
            ],
        {% endfor %}
              ]
            }, {
              axisX: {
                type: Chartist.AutoScaleAxis,
                onlyInteger: true
              },
              axisY: {
                type: Chartist.FixedScaleAxis,
                ticks: [0, 1],
                low: 0
              },
              lineSmooth: Chartist.Interpolation.step(),
              showPoint: false
            });     
            

    </script>
  </body>
</html>